@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .gradient-primary {
    background: linear-gradient(135deg, #6C63FF 0%, #00C9FF 100%);
  }
  
  .gradient-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(135deg, #6C63FF 0%, #00C9FF 100%);
  }
}

